{% extends 'base_template.html' %}
{% block content%}
<body>
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title text-center mb-4">Crie um QR-Code personalizado por apenas R$5,00.</h5>
                <form method="POST">
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome:</label>
                            <input type="text" class="form-control" id="nome" name ="nome" placeholder="nome" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail:</label>
                            <input type="email" class="form-control" id="email" name ="email" placeholder="E-mail" required>
                        </div>
                        <div class="mb-3">
                            <label for="CPF" class="form-label">CPF:</label>
                            <input type="text" class="form-control" id="CPF" name ="CPF" placeholder="CPF" required>
                        </div>                        
                    </div>
                    <h3 class="card-title text-center mb-4">QR Code:</h3>                    
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="mb-3">
                        <label for="link" class="form-label">Insira o link:</label>
                        <input type="url" class="form-control" id="link" name ="link" placeholder="https://example.com" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Selecione um ícone:</label>                        
                        {% for icone in icones %}
                        {% if loop.index == 1 or (loop.index - 1) % 6 == 0 %}
                            <div class="d-flex justify-content-center align-items-center flex-wrap">
                        {% endif %}                               
                            <label class="icon-option">
                                <input type="radio" name="icon" value="{{ icone.name }}" required>
                                <img src="{{ url_for('static', filename=icone.endereco) }}" alt="{{ icone.name }}">
                            </label>                            
                        {% if loop.index % 6 == 0 or loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                    <button type="submit" class="btn btn-primary w-100">Criar</button>
                </form>
            </div>
        </div>
    </div>

    
{% endblock content%}
