{% extends 'base_template.html' %}
{% block content%}   

<body>
    <div class="payment-container">
        <h2><img style="width: 80px; height: 80px;" src="{{url_for('static', filename='icon/pix.png' )}}">Pagamento com Pix</h2>
        <p>Utilize o QR Code abaixo para realizar o pagamento.</p>
        <p>Apos o apagamento espere 40 segundos e será redirecionado para a pagina de dwonload do seu QRcode personalizado.</p>
        <p>Esse link de pagamento expira no dia {{ expiration_date.strftime('%d') }} de {{ expiration_date.strftime('%B') }} de {{ expiration_date.strftime('%Y') }} às {{ expiration_date.strftime('%H')}} : {{ expiration_date.strftime('%M') }}</p>
        
        <img class="img-fluid qr-code" id="modalQRCode" src="{{img_qrCode}}" alt="QR Code"></p> 
        <p>Ou copie o código Pix abaixo:</p>
        <div class="input-group mb-3">
            <input type="text" class="form-control" id="modalTextoPix" readonly value="{{link_qrCode}}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="copyButton">Copiar</button>
            </div>
        </div>
        <div id="copyAlert" class="alert alert-success" style="display:none;" role="alert">
            Código Pix copiado!
        </div>
    </div>

    <script>
        var charge_id = {{ charge_id | tojson }};
        var link = {{ link | tojson }};
        var icon = {{ icon | tojson }};
    
        console.log("Charge ID:", charge_id);
    
        setInterval(function() {
            fetch(`/verificar_pagamento/${charge_id}`)
                .then(response => response.json())
                .then(data => {
                    console.log("Status:", data.status);
                    if (data.status === 'PAID') {
                        // Garantir que as chaves `name` e `endereco` existam no objeto `icon`
                        if (icon && icon.name && icon.endereco) {
                            window.location.href = `/make_qr_code?charge_id=${encodeURIComponent(charge_id)}&link=${encodeURIComponent(link)}&icon_name=${encodeURIComponent(icon.name)}&icon_endereco=${encodeURIComponent(icon.endereco)}`;
                        } else {
                            console.error("Erro: 'icon.name' ou 'icon.endereco' não definidos");
                        }
                    }
                })
                .catch(error => console.error('Erro:', error));
        }, 30000); // Verifica a cada 30 segundos
    </script>
{% endblock content%}


